<form method="post" action="/">
  <div class="form-group">
    <input type="text" class="form-control" id="site" name="site" placeholder="https://clas.asu.edu">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>

</form>
