<select class="form-control" id="page" name="page">
  <option>https://clas.asu.edu/</option>
  <option>https://sms.asu.edu/</option>
  <option>https://physics.asu.edu/</option>
  <option>https://math.asu.edu/</option>
  <option>https://psychology.clas.asu.edu/</option>
  <option>https://english.clas.asu.edu/</option>

  <option>https://silc.clas.asu.edu/</option>
  <option>https://americanindian.clas.asu.edu/</option>
  <option>https://shprs.clas.asu.edu/</option>
  <option>https://thesanfordschool.clas.asu.edu/</option>
  <option>https://shesc.asu.edu/</option>
  <option>https://pgs.clas.asu.edu/</option>

  <option>https://sst.clas.asu.edu/</option>
  <option>https://sts.asu.edu/</option>
  <option>https://humancommunication.clas.asu.edu/</option>
  <option>https://jewishstudies.clas.asu.edu/</option>
  <option>https://sese.asu.edu/</option>
  <option>https://geoplan.asu.edu/</option>

  <option>https://sols.asu.edu/</option>
  <option>https://militaryscience.clas.asu.edu/</option>
  <option>https://afrotc.clas.asu.edu/</option>
  <option>https://nrotc.asu.edu/</option>  
</select>
