<form method="post" action="/testrunner">
  <div class="form-group">
    <label for="site">Site</label>
    <input type="text" class="form-control" id="site" name="site" placeholder="https://clas.asu.edu">
  </div>

  <button type="submit" class="btn btn-primary">Start new report</button>

</form>
