<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Buttons Test</h1>
    <form method="post" action="/buttons">
      Page for testing:<br>
      <input type="text" name="page"><br />
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
