<% include ../partials/testrunner-head %>

    <div class="container">

      <h1>All site reports.</h1>

      <hr />

      <div class="row">
        <div class="col-md-12">
        <table class="table table-hover">
          <caption>Total reports: <%= sites.length %></caption>
          <thead>
            <tr>
              <th>Site</th>
              <th>Date of Report</th>
              <th>Overall Site Grade</th>
              <th>Report Link</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i=0; i < sites.length; i++) { %>
               <tr>
                 <td><%= sites[i].url %></td>
                 <td><%= sites[i].created_at %></td>
                 <td>Grade goes here.</td>
                 <td><a href="report/<%= sites[i]._id %>">REPORT</a></td>
               </tr>
            <% } %>
          </tbody>
        </table>
      </div>
      </div>

    </div>

<% include ../partials/testrunner-footer %>
