<% include ../partials/head %>

    <div class="container">

      <h1><%= title %></h1>

      <form method="post" action="/globalasulinks">
        <% include ../partials/site-dropdown %>
      </form>

    </div>

<% include ../partials/footer %>
