<% include ../partials/head %>

    <div class="container">

      <h1><%= title %> Results</h1>

      <h3>You are testing page: <a href="<%= page %>" target="_blank"><%= page %></a></h3>

      <h1>Pass/Fail: <%= passfail %></h1>

    </div>

<% include ../partials/footer %>
