<% include ../partials/header %>

    <div class="container">

      <h1>Submit a Webspark site below to start tests.</h1>

      <hr />

      <% include ../partials/form %>

    </div>

<% include ../partials/footer %>
