<% include ../partials/testrunner-head %>

    <div class="container">

      <h1>Oops!</h1>

      <h4>You submitted a non-Webspark site.</h4>

      <h4>Site submitted: <%= site %></h4>

      <p>Please, go back and try again.</p>

    </div>

<% include ../partials/testrunner-footer %>
