<% include ../partials/testrunner-head %>

    <div class="container">

      <h1>Report page.</h1>

      <h4>Date: <%= site[0].created_at %></h4>
      <h4>Site: <%= site[0].url %></h4>
      <h4>Sitemap: <%= site[0].links %></h4>

    </div>

<% include ../partials/testrunner-footer %>
