<% include ../partials/testrunner-head %>

    <div class="container">

      <h1>Page report.</h1>

      <hr />

      <h4>Report ID: <a href="/testrunner/report/<%= reportid %>"><%= reportid %></a></h4>
      <h4>Page ID: <%= pageid %></h4>
      <h2>Page Grade: Grade %</h2>

      <hr />

      <p>Tests and results all listed here.</p>

    </div>

<% include ../partials/testrunner-footer %>
