<% include ../partials/testrunner-head %>

    <div class="container">

      <h1>Page report.</h1>

      <h4>Report id: <%= reportid %></h4>
      <h4>Page id: <%= pageid %></h4>
      <h2>Overall Page Grade: </h2>

      <hr />

      <p>Tests and results all listed here.</p>

    </div>

<% include ../partials/testrunner-footer %>
