<% include ../partials/testrunner-head %>

    <div class="container">

      <h1>Test report.</h1>

      <h4>Report id: <%= reportid %></h4>
      <h4>Page id: <%= pageid %></h4>
      <h4>Test id: <%= testid %></h4>
      <h2>Grade: </h2>      

      <hr />

      <p>Single test results listed here.</p>

    </div>

<% include ../partials/testrunner-footer %>
