<% include ../partials/testrunner-head %>

    <div class="container">

      <h1>Your report is being generated</h1>

      <h4>Site submitted: <%= site %></h4>

      <p>Your report can be found here: blahblah link</p>

      <p>We are creating a sitemap and running tests on individual pages.</p>

    </div>

<% include ../partials/testrunner-footer %>
