<% include ../partials/testrunner-head %>

    <div class="container">

      <h1>started tests</h1>

      <h4><%= site %></h4>

      <p>error if not a webspark page</p>

      <p>otherwise create sitemap and begin tests</p>

    </div>

<% include ../partials/testrunner-footer %>
