<% include ../partials/testrunner-head %>

    <div class="container">

      <h1>Your report is being generated.</h1>

      <h4>Site submitted: <%= site %></h4>

      <p>Please view the progress of your report <a href="/report/<%= thisId %>">here</a>.</p>

      <p>We are now creating a sitemap and running tests on individual pages.</p>

      <p>Thanks.</p>

    </div>

<% include ../partials/testrunner-footer %>
